<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @song.name %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @song.rating %>
</p>

<p>
  <strong>Artist:</strong>
  <%= @song.artist_id %>
</p>

<p>
<%= link_to("#{@song.name}", @song.musicvid, alt: "Music video", width: "300", border: "10" ) %>

<!-- <a href="#" target="_blank"><img src="#.jpg" 
alt="IMAGE ALT TEXT HERE" width="240" height="180" border="10" /></a>
 -->
</p>

<%= link_to 'Edit', edit_song_path(@song) %> |
<%= link_to 'Back', songs_path %>
