<!DOCTYPE html>
<html>
<head>
  <title>Top 5</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>


 <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand"><%= image_tag "rock.png", width: 40 %> AFH Top5</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li><%= link_to "Top 5 Songs", root_path %></li>
                  <li><%= link_to "Top 5 Artists", topartists_path %></li>
								  <li><%= link_to "All Artists", artists_path %></li>
								  <li><%= link_to "All Songs", songs_path %></li>
                </ul>
              </nav>
            </div>
          </div>
          <div class="inner cover">
            <%= yield %>
          </div>
          <div class="mastfoot">
            <div class="inner">
              <p>Top 5 * Alison Faye Hight &copy;2016</p>
            </div>
          </div>
        </div>
      </div>
    </div>


</body>
</html>
